node_modules/
coverage/
.env
android/.gradle/
android/app/build/
android/build/
android/gradle/wrapper/gradle-wrapper.jar
android/app/src/main/res/mipmap/ic_launcher.png
android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.png
android/app/src/main/res/drawable/splash.png
icon-512.png
splash.png

public/env-config.js
public/env-config.local.js
